<h1>Tasks</h1>

<ul class="taks"
<% @tasks.each do |task| %>
  <li class="task">
    <%= task.name %>
    <%= link_to 'Edit', edit_task_path(task) %> |
    <%= link_to 'Destroy', task, method: :delete, data: {confirm: "Are you sure?"} %>
  </li>
<% end %>
</ul>

<p><%= link_to "New Task", new_task_path %></p>
